<div class="wrapper">
    <div class="content">
        <a href="#" class="app-title">
            <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo" />
            Sample App
        </a>

        <div class="form-container">
            <div class="form-content">
                <h1 class="form-title">
                    Change Password
                </h1>

                <form [formGroup]="formControl" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <mat-label>Current Password</mat-label>
                        <input type="password" matInput formControlName="current_password">
                        <mat-error
                            *ngIf="formControl.controls['current_password'].errors && formControl.controls['current_password'].errors['required']">
                            Current Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input type="password" matInput formControlName="new_password">
                        <mat-error
                            *ngIf="formControl.controls['new_password'].errors && formControl.controls['new_password'].errors['required']">
                            New Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Re-type New Password</mat-label>
                        <input type="password" matInput formControlName="retype_new_password">
                        <mat-error
                            *ngIf="formControl.controls['retype_new_password'].errors && formControl.controls['retype_new_password'].errors['required']">
                            Re-type New Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <button type="submit" mat-stroked-button [disabled]="disableSubmitButton">Change Password
                        <mat-spinner *ngIf="disableSubmitButton"></mat-spinner></button>

                    <p><a routerLink="/">Go Back</a></p>
                </form>
            </div>
        </div>
    </div>
</div>