<div class="wrapper">
    <div class="content">
        <a href="#" class="app-title">
            <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo" />
            Sample App
        </a>

        <div class="form-container">
            <div class="form-content">
                <h1 class="form-title">
                    Page Not Found
                </h1>
                <p>
                    Looks like you are lost. Page that you are looking for is not registered in our system. Click here
                    to go back to home
                    <a routerLink="/">Go To Home</a>
                </p>
            </div>
        </div>
    </div>
</div>