<div class="wrapper">
    <div class="content !max-w-5xl !h-auto !p-8">
        <div class="flex flex-row w-full justify-between">
            <a href="#" class="app-title inline-block">
                <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
                    alt="logo" />
                Sample App
            </a>

            <button mat-button [matMenuTriggerFor]="menu">Hi {{userData.first_name}},</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="changePassword()">Change Password</button>
                <button mat-menu-item (click)="signOut()">Sign Out</button>
            </mat-menu>
        </div>

        <div class="form-container !max-w-5xl">
            <div class="form-content">
                <div class="flex flex-row w-full justify-between align-middle">
                    <h1 class="form-title inline-block">
                        Manage Users
                    </h1>

                    <div class="inline-block">
                        <input type="text" placeholder="Input Search Keyword"
                            class="border-solid border-2 border-gray-200 rounded-tl rounded-bl py-1 px-2 border-r-0"
                            [(ngModel)]="keyword">
                        <button type="button"
                            class="border-solid border-2 border-red-700 bg-red-700 hover:bg-red-800 text-white rounded-tr rounded-br py-1 px-2 border-l-0"
                            (click)="loadData()">Search</button>
                    </div>
                </div>
                <table mat-table [dataSource]="dataSource" class="!border-2 !border-gray-200 !border-solid">
                    <ng-container matColumnDef="full_name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.first_name | fullName:element.last_name}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element" width="100"> {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date_of_birth">
                        <th mat-header-cell *matHeaderCellDef> Age </th>
                        <td mat-cell *matCellDef="let element" width="150"> {{element.date_of_birth | age}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element" width="280">
                            <button mat-flat-button color="primary" class="mr-2"
                                (click)="detail(element.id)">View</button>
                            <button mat-flat-button color="accent" class="mr-2"
                                (click)="edit(element.id)">Update</button>
                            <button mat-flat-button color="warn" (click)="delete(element.id)"
                                *ngIf="userData.id!==element.id">Delete</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="handlePageEvent($event)" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>