<div>
    <h1 mat-dialog-title class="font-md font-bold">Edot User</h1>
    <form [formGroup]="formControl" (ngSubmit)="onSubmit()">
        <div mat-dialog-content>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                <mat-form-field class="col-span-2">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput formControlName="first_name">
                    <mat-error
                        *ngIf="formControl.controls['first_name'].errors && formControl.controls['first_name'].errors['required']">
                        First Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-span-2">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput formControlName="last_name">
                </mat-form-field>

                <mat-form-field class="col-span-2">
                    <mat-label>Sex</mat-label>
                    <select matNativeControl formControlName="sex">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <mat-error
                        *ngIf="formControl.controls['sex'].errors && formControl.controls['sex'].errors['required']">
                        Sex is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-span-2">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date_of_birth">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                        *ngIf="formControl.controls['date_of_birth'].errors && formControl.controls['date_of_birth'].errors['required']">Date
                        of Birth is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-span-2 md:col-span-4">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="button-action">
            <button type="button" mat-button (click)="dialogRef.close('')">Cancel</button>
            <button type="submit" mat-button cdkFocusInitial>Update</button>
        </div>
    </form>
</div>